// $primary-color: #3F107E;
$primary-color: #FF4E00;
$secondary-color: #9B0E8E;
$secondary-white-color: #FFD4FB;
$secondary-ultrawhite-color: #FFEEFD;
$light-grey: #eee;
$secondary-color2:#4B1346;
$text-dark-color:#000;
$card-grad-color-1: #F3DDFC;
$card-grad-color-2: #E0EAFF;
$card-grad2-color-1:#FCF9C9;
$card-grad2-color-2:#FFDAC8;
$heading-color: #4B1346;
$white-color:#ffffff;
$text-dark-color:#000000;


html, body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.overflow-hidden{
    overflow: hidden !important;
}

*{
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
p{
    margin-bottom: 0;
}
i{
    cursor: pointer;
}
@keyframes fadeDown {
    from {
        opacity: 0;
        margin-top: -2rem;
    }
    to {
        opacity: 1;
        margin-top: 1rem;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: scale(.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.top-margin-16{
    margin-top: 16px !important;
}
.margin-bottom-8{
    margin-bottom: 8px;
}
 .solid-action-btn{
    background-color: $primary-color;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    border: 1px solid $primary-color;
    text-align: center;
    color: $white-color;
    cursor: pointer;
    margin: 0 8px;
    &:hover {
        color: $white-color;
        filter: brightness(120%);
        box-shadow: 0 8px 16px rgba($text-dark-color, .2);
    }
}

.outline-action-btn{
    color: $primary-color;
    padding: 10px 24px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    border: 1px solid $primary-color;
    width: 100%;
    margin: 0 8px;
    &:hover {
        color: $primary-color;
    }
}

section{
    padding: 50px 0;
}

.lp-hero-section {
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    &::after{
        content: "";
        position: absolute;
        top: -50%;
        margin: auto;
        z-index: 1;
        right: -15%;
        width: 675px;
        height: 675px;
        border-radius: 675px;
        background-image: linear-gradient(145deg, #FFDAC8, transparent 80%);
    }
    .container {
        z-index: 2;
        position: relative;
        .row{
            align-items: center;
        }
    }
    .imgs{
        img{
            width: 100%;
        }
    }
    .title {
        font-weight: 800;
        font-size: 34px;
        color: $heading-color;
        margin-bottom: 2rem;
        line-height: 45px;
        small {
            display: block;
        }
    }
    .benifit-title{
        font-weight: 800;
        font-size: 30px;
        color: $heading-color;
        margin: .25rem auto;
    }
    .sub-title {
        font-size: 18px;
        font-weight: 500;
    }
    .btns {
        margin-top: 3rem;
    }
   
    @media (max-width:991px) {
        padding: 0 0 5rem;
        &::before,
        &::after {
            display: none;
        }
        .title {
            font-size: 32px;
            small {
                margin-top: 8px;
            }
        }
        .imgs {
            position: relative;
            margin-bottom: 3rem;
            img {
                width: 100%;
                height: 320px;
                display: block;
            }
        }
        .container {
            z-index: 10;
            position: relative;
            .row {
                height: initial;
            }
        }
    }
}