html, body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.overflow-hidden {
  overflow: hidden !important;
}

* {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

p {
  margin-bottom: 0;
}

i {
  cursor: pointer;
}

@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    margin-top: -2rem;
  }
  to {
    opacity: 1;
    margin-top: 1rem;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    margin-top: -2rem;
  }
  to {
    opacity: 1;
    margin-top: 1rem;
  }
}

@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-margin-16 {
  margin-top: 16px !important;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.solid-action-btn {
  background-color: #FF4E00;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  border: 1px solid #FF4E00;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin: 0 8px;
}

.solid-action-btn:hover {
  color: #ffffff;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.outline-action-btn {
  color: #FF4E00;
  padding: 10px 24px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  border: 1px solid #FF4E00;
  width: 100%;
  margin: 0 8px;
}

.outline-action-btn:hover {
  color: #FF4E00;
}

section {
  padding: 50px 0;
}

.lp-hero-section {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.lp-hero-section::after {
  content: "";
  position: absolute;
  top: -50%;
  margin: auto;
  z-index: 1;
  right: -15%;
  width: 675px;
  height: 675px;
  border-radius: 675px;
  background-image: linear-gradient(145deg, #FFDAC8, transparent 80%);
}

.lp-hero-section .container {
  z-index: 2;
  position: relative;
}

.lp-hero-section .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lp-hero-section .imgs img {
  width: 100%;
}

.lp-hero-section .title {
  font-weight: 800;
  font-size: 34px;
  color: #4B1346;
  margin-bottom: 2rem;
  line-height: 45px;
}

.lp-hero-section .title small {
  display: block;
}

.lp-hero-section .benifit-title {
  font-weight: 800;
  font-size: 30px;
  color: #4B1346;
  margin: .25rem auto;
}

.lp-hero-section .sub-title {
  font-size: 18px;
  font-weight: 500;
}

.lp-hero-section .btns {
  margin-top: 3rem;
}

@media (max-width: 991px) {
  .lp-hero-section {
    padding: 0 0 5rem;
  }
  .lp-hero-section::before, .lp-hero-section::after {
    display: none;
  }
  .lp-hero-section .title {
    font-size: 32px;
  }
  .lp-hero-section .title small {
    margin-top: 8px;
  }
  .lp-hero-section .imgs {
    position: relative;
    margin-bottom: 3rem;
  }
  .lp-hero-section .imgs img {
    width: 100%;
    height: 320px;
    display: block;
  }
  .lp-hero-section .container {
    z-index: 10;
    position: relative;
  }
  .lp-hero-section .container .row {
    height: initial;
  }
}
/*# sourceMappingURL=main.css.map */